*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.mainSection{
    height: 70%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gameBoard{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    height: 75%;
    width: 25%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.topBanner, .bottomBanner{
    width: 90%;
    height: 10%;
    /* border: 2px solid black; */
    text-align: center;
}
.topBanner{
    font-size: 40px;
}
.buttonSection{
    /* border: 2px solid black; */
    height: 10%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottomBanner h2{
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
}
.player{
    text-align: center;
    font-size: 60px;

}
.player form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    width: 75%;
    font-size: 30px;
    text-align: center;
}
button{
    font-size: auto;
    padding: 5px;
}