*{
    /* border: 1px solid green; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;

}

body{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.gameTitle{
    /* border: 2px solid green; */
    font-size: 50px;
    height: 7%;
}

.gameBoard{
    /* border: 2px solid green; */
    height: 93%;
    display: flex;
    align-items:center;
}
.playerSelectionForm{
    /* border: 2px solid green; */
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formNote{
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}
.playerX, .playerO{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    width: 45%;
}

.formRow2{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.playerLabel{
    /* border: 2px solid green; */
    font-size: 150px;
}

.playerInput{
    /* border: 2px solid green; */
    padding: 5px;
}

.formButton{
    /* border: 2px solid green; */
    padding: 10px;
}

@media (max-width:800px){
    .formRow2{
        flex-direction: column;
        align-items: center;
    }
    .formButton{
        margin-top: 30px;
    }
}