*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameBoard{
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    font-size: 170px;
    text-align: center;
    background-color: lightcoral;
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

