*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* border: 1px solid black; */
}

body{
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mainSection{
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.gameBoard{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player{
    height: 75%;
    width: 20%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}
.topBanner, .bottomDisplay{
    width: 80%;
    height: 10%;
    text-align: center;
}
.topBanner{
    font-size: 5vw;
}
.buttonSection{
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottomDisplay{
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
}
.player{
    text-align: center;
    font-size: 60px;

}
.player form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form input{
    width: 75%;
    font-size: 30px;
    text-align: center;
}
button{
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
}